.CreateTest{
    margin-block: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CreateTest form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CreateTest input{
    margin: 5px;
    width: 50vw;
}