table{    
    border-collapse: collapse;
    display: block;
    text-align: left;       
    overflow-x: auto;
    width: 90vw;
  }
    
thead th {
  background-color:rgb(195, 211, 240);
  color: rgb(12, 8, 59);
  padding: 10px;
}


tbody td {
    color: rgb(3, 3, 51);
    padding: 10px;    
  }
     
tbody tr:nth-child(even) {
    background-color:rgb(246, 231, 248);
}
      
tbody tr:nth-child(odd) {
     background-color:#FFF;
}
.online-true{
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 50%;
    background-color:greenyellow;
}
.online-false{
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(151, 151, 151);
}

