.Videos{
    margin-block: 60px;
    width: 100%;
    min-height: inherit;
    display: inline-block;
    text-align:  center;
}
.Videos-container{
    margin: 5px;
    padding: 5px;
    display: flex;    
    text-align: center; 
    justify-content: space-around;
    flex-wrap: wrap;  
}
.Videos input{
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
.Videos input:focus{
    outline: none;
    border: 2px solid greenyellow;
}